.test_file {
    background-color: red;
}

.test_example1 {
    background-color: yellow;
}

.test_example1 {
    background-color: green;
}

.test_text{
    color: red;
}

.test_text {
    color: green
}